// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1700px
	margin 0 auto
	@media (max-width: 1800px) 
		padding 0 20px
	// @media(max-width: $breakpoint-l)
	// 	padding: 0 15px
	// @media(max-width: $breakpoint-m)
	// 	padding: 0 10px


// футер к низу

.wrapper 
	display flex
	flex-direction column


.main 
	flex 1
