.header__content
    display flex
    justify-content: space-between
    height: 145px
    align-items: center
    @media(max-width: $breakpoint-l)
        padding 5px 0
        height auto
    @media(max-width: $breakpoint-m)
        padding 15px 0
        position relative


.header__logo
    width: 155px
    height 94px
    @media(max-width: $breakpoint-xl)
        width 130px
        height 80px
    @media(max-width: $breakpoint-l)
        width 80px
        height 50px

.header__logo-img
    width 100%

.header__menu
    display flex
    align-items: center
    height 100%
    @media(max-width: $breakpoint-m)
        position fixed
        top 0
        left -100%
        z-index 9
        height 100vh
        width 100vw
        transition: 0.5s all
        &.active 
            left 0
            &:after
                opacity 0.8
        &:after
            content: ""
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color: #222
            opacity 0
            transition: 0.8s all 0.2s
        
.header__burger-close
    display none
    background url('../img/content/close.png')
    opacity: 0
    position absolute
    top 30px
    right 30px
    width 35px
    height 35px
    background-size: contain
    @media(max-width: $breakpoint-m)
        display block
        opacity 1
        z-index 11

.header__burger-menu
    cursor pointer
    padding: 20px 6px

.header__burger-menu__item
    display none
    @media(max-width: $breakpoint-m)
        display block
        width 30px
        height 4px
        background-color: #000000
        border-radius: 15px
        position relative
        &:after
            content: ""
            display block 
            width 30px
            height 4px
            background-color: #000000
            position absolute
            border-radius: 15px
            top -10px
            left 0
        &:before
            content: ""
            display block 
            width 30px
            height 4px
            border-radius: 15px
            background-color: #000000
            position absolute
            top 10px
            left 0
.header__list
    display flex
    height 100%
    @media(max-width: $breakpoint-l)
        flex-wrap: wrap
        justify-content: center
        padding: 20px 0;
        align-items: center;
        width 500px
    @media(max-width: $breakpoint-m)
        width auto
        height auto
        padding: 10px 0
        text-align: center
        flex-wrap: nowrap
        flex-direction: column
        position absolute
        top 50%
        left 50%
        transform: translate(-50%,-50%)
        z-index 10
        background-color: #fff
        padding 50px

.header__item
    margin-right 70px
    height 100%
    display flex
    align-items: center
    &:last-child
        margin-right 15px
        @media(max-width: $breakpoint-xl)
            margin-right 10px
        @media(max-width: $breakpoint-l)
            margin-right 0px
    &:hover 
        border-bottom: 5px solid #bd2c1f
        border-top 5px solid #fff
        @media(max-width: $breakpoint-l)
            border: none 
    @media(max-width: $breakpoint-xl)
        margin-right 28px
    @media(max-width: $breakpoint-l)
        margin-right 0px
        width: 33%
        height auto
        display: flex
        justify-content: center
    @media(max-width: $breakpoint-m)
        width auto
        margin-bottom 20px

.header__item-text
    font-family: 'Montserrat'
    font-size 15px
    line-height 27px
    font-weight 700
    text-transform: uppercase
    @media(max-width: $breakpoint-xl)
        font-size 14px
    @media(max-width: $breakpoint-l)
        font-size 12px
    @media(max-width: $breakpoint-m)
        font-size 14px
.header__search
    width: 32px;
    height: 32px;
    cursor pointer
    @media(max-width: $breakpoint-xl)
        width 26px
        height 26px
    @media(max-width: $breakpoint-l)
        width 22px
        height 22px
    @media(max-width: $breakpoint-m)
        width 18px
        height 18px
        margin-right 5px
        display none
    & svg 
        width 100%
        height 100%

.header__tel-number
    font-family: 'Montserrat'
    font-size 26px
    line-height 27px
    font-weight 700
    @media(max-width: $breakpoint-xl)
        font-size 18px
    @media(max-width: $breakpoint-l)
        font-size 16px
    @media(max-width: $breakpoint-m)
        font-size 12px