.hero
    position relative
    color: #fff
    z-index 0
    overflow: hidden;

.hero__content
    display flex
    flex-direction: column
    align-items: flex-start
    width 600px
    padding-top 114px
    padding-bottom 234px
    padding-left 200px
    box-sizing: content-box
    @media(max-width: $breakpoint-xl)
        width 500px
        padding-top 90px
        padding-bottom 180px
        padding-left 30px
    @media(max-width: $breakpoint-l)
        width 450px
        padding-top 70px
        padding-bottom 150px
        padding-left 20px
    @media(max-width: $breakpoint-m)
        width 350px
        padding-top 50px
        padding-bottom 130px
        padding-left 15px
    @media(max-width: $breakpoint-s)
        width 240px
        padding 40px 15px 70px 

.hero__title
    font-size 60px
    font-family: 'Montserrat'
    font-weight: 700
    line-height 76px
    padding-bottom 50px
    @media(max-width: $breakpoint-xl)
        font-size 48px
        line-height 50px
        padding-bottom 30px
    @media(max-width: $breakpoint-l)
        font-size 38px
        line-height 40px
        padding-bottom 25px
    @media(max-width: $breakpoint-m)
        font-size 32px
        line-height 36px
        padding-bottom 20px
    @media(max-width: $breakpoint-s)
        font-size 18px
        line-height 22px
        padding-bottom 10px

.hero__button-link
    font-size 18px
    font-family: 'Montserrat'
    font-weight: normal
    line-height 27px
    text-transform: uppercase
    color: #fff
    @media(max-width: $breakpoint-xl)
        font-size 16px
        line-height 23px
        padding 16px 50px
    @media(max-width: $breakpoint-l)
        font-size 14px
        line-height 20px
        padding: 14px 44px
    @media(max-width: $breakpoint-m)
        font-size 12px
        line-height 16px
        padding: 12px 30px
    @media(max-width: $breakpoint-s)
        font-size 8px
        line-height 12px
        padding: 8px 15px
        border-radius: 10px

.hero__slider
    width 100%
    height 100%

.hero__slider-container
    width 100%
    height 100%
    display flex
    flex-wrap: nowrap

.hero__slider-item
    width 100%
    height 100%
    position relative

.hero__slider-img
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    z-index -1

.hero__pag
    position absolute
    bottom: 37px
    left 50%
    transform: translateX(-50%)
    display flex
    @media(max-width: $breakpoint-xl)
        bottom 26px
    @media(max-width: $breakpoint-l)
        bottom 18px
    @media(max-width: $breakpoint-m)
        bottom 14px
    @media(max-width: $breakpoint-s)
        bottom: 8px
    li
        width 24px
        height 24px
        border-radius: 10px
        background-color: #ffffff
        z-index 5
        margin-right 47px
        position relative
        cursor pointer
        @media(max-width: $breakpoint-xl)
            width 20px
            height 20px
            margin-right 30px
        @media(max-width: $breakpoint-l)
            width 18px
            height 18px
            margin-right 26px
        @media(max-width: $breakpoint-m)
            width 16px
            height 16px
            margin-right 20px
        @media(max-width: $breakpoint-s)
            width 12px
            height 12px
            margin-right 10px
        &:after
            content ""
            position absolute
            top: 50%
            left 50%
            transform: translate(-50%,-50%)
            width 16px
            height 16px
            background-color: #000
            border-radius: 50%
            opacity 0
            transition: 0.2s all
            @media(max-width: $breakpoint-xl)
                width 12px
                height 12px
            @media(max-width: $breakpoint-l)
                width 10px
                height 10px
            @media(max-width: $breakpoint-m)
                width 8px
                height 8px
            @media(max-width: $breakpoint-s)
                width 6px
                height 6px
        &.slick-active
            &:after
                opacity 1
        &:hover 
            &:after
                opacity 1
