.sub
    background: url(../img/general/bg_car.jpg) no-repeat
    height 520px
    background-size: cover
    @media(max-width: $breakpoint-xl)
        height 400px
    @media(max-width: $breakpoint-l)
        height 300px
    @media(max-width: $breakpoint-m)
        height 200px
    @media(max-width: $breakpoint-s)
        height 120px
       