section.hero
    .hero__slider
        each item in content.hero.slider
            .hero__slider-item
                img.hero__slider-img(src=item['img'], alt=item['alt'])
                .hero__content
                    .hero__title= content.hero.title
                    a.hero__button-link.button(href=content.hero.buttonLink) Посмотреть всю линейку <br> болотоходов tinger                        
    //- ul.hero__pag
    //-     each item in content.hero.slider
    //-         li.hero__pag-item